<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<app-empty-layout *ngIf="layout === 'empty'"></app-empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Default layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<app-default-layout *ngIf="layout === 'default'"></app-default-layout>

