<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="ruze-card-front">
        <ng-content select="[ruzeCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="ruze-card-back">
        <ng-content select="[ruzeCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="ruze-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[ruzeCardExpansion]"></ng-content>
    </div>

</ng-container>
